/* placeholders for PROJECTS */
.project{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}
#projects {
      display: flex;
      /* flex-direction: row; */
      padding: 1.5%;
}

.card {
      margin: 2%;
      align-items: center;
      padding: 1.4%;
      width: 30%;
}
.button-div{
      text-align: center;
}
.btn-dark:hover {
      background-color: white;
      color: black;
}
.card-title{
      font-family: 'Poppins', sans-serif;
      padding: 2%;
}
.projects-div{
      display: flex;
      justify-content: space-around;
      padding: 3%;
      flex-direction: column;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 5%;
      border: solid black;
      border-width: 0.4px;
      border-radius: 20px;
}
.projects-sub-div{
      margin-top: 0%;
      padding: 2%;
      font-size: 1.2rem;
      font-family: 'Raleway', sans-serif;

}
.images-div{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 5%;
      margin-bottom: 5%;
}










/* MANDATORY FOR ALL THE PORTALS PLEASE */
/* navbar */
.navbar {
      padding: 2%;
}
.navbar-brand-div{
      display: flex;
      align-items: center;
      gap: 5%;
      
}
.brand-logo{
      text-decoration: none;
      display: flex;
      /* border-radius: 100%;
      background-color: rgb(151, 151, 151); */
      align-items: center;
      color: rgb(43, 43, 110);
}
.brand-logo:hover{
      color: rgb(99, 99, 119);
}
.navbar-brand{
      color: rgb(4, 4, 41);
      text-decoration: none;
}
.navbar-brand:hover{
      color: grey;
}
.nav-item :hover {
      color: blue;
}

.nav-item a {
      color: rgb(4, 4, 41);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.1rem;
}
/* contact me div things */
#contact-div{
      background-color: rgb(197, 197, 197);
      margin-top: 5%;
      margin-bottom: 150px;
      height: 250px;
      display:  flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      gap: 4rem;
}
.visiting{
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
}
.email-icon {
      height: 40px;
}
.email-icon:hover{
      transition: 0.2s;
      height: 50px;
}
.github-icon, .linkedin-icon{
      height: 40px;
      align-self: center;
}
.github-icon:hover , .linkedin-icon:hover{
      transition: 0.25s;
      height: 51px;
}
.contact-me-icons{
      display: flex;
      justify-content: space-evenly;
      gap: 15%;
}
@media screen and (max-width: 988px) {
      .profile-pic{
            width: 400px;
            
      }
      .about-div-2{
            display: flex;
            flex-direction: column;
            
      }
      #contact-div{
            display: flex;
            flex-direction: column;
            padding: 2%;
      }
}
@media (max-width:452px) and (min-width: 0px){
      .button-tag-main-div{
            flex-direction: column;
      }
      .navbar-nav{
            display: flex;
            flex-wrap: wrap;
      }
      .contact-me-icons{
            display: flex;
            justify-content: space-evenly;
            gap: 5%;
      }
}
