body {
     background-color: rgb(172, 238, 236);
     font-family: 'Comfortaa', cursive;
     text-align: center;
}
.my-details {
     margin-left: 29%;
     text-align: left;
     font-family: 'Comfortaa', cursive;
     font-size: 20px;
}
.h2-mycontact {
     color: rgb(0, 0, 0);
     font-family: 'Comfortaa', cursive;
}
.aft-details {
     border-style: dotted none none;
     border-width: 5px;
     font-family: 'Comfortaa', cursive;
     width: 30%;
}
.labelmycontact {
     font-size: 17px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit {
     -webkit-border-radius: 9;
     -moz-border-radius: 9;
     border-radius: 9px;
     text-shadow: 1px 1px 3px #ffffff;
     -webkit-box-shadow: 0px 1px 3px #000000;
     -moz-box-shadow: 0px 1px 3px #000000;
     box-shadow: 0px 1px 3px #000000;
     font-family: Georgia;
     color: #000000;
     font-size: 15px;
     background: #a6dde3;
     padding: 7px 20px 7px 20px;
     border: solid #c6e3e1 1px;
     text-decoration: none;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   .submit:hover {
     background: #f4fcfb;
     background-image: -webkit-linear-gradient(top, #f4fcfb, #a5c2c0);
     background-image: -moz-linear-gradient(top, #f4fcfb, #a5c2c0);
     background-image: -ms-linear-gradient(top, #f4fcfb, #a5c2c0);
     background-image: -o-linear-gradient(top, #f4fcfb, #a5c2c0);
     background-image: linear-gradient(to bottom, #f4fcfb, #a5c2c0);
     text-decoration: none;
   }