body {
     background-color: rgb(202, 236, 231);
     margin: 0px;
}
/*clouds*/
.cloud1 {
     margin-top: 50px;
     margin-left: 20%;
}
/***headings***/
.heading1 {
     color: rgba(11, 70, 74, 0.526);
     font-size: 100px;
     font-family: 'Dancing Script', cursive;
     margin-top: 10%;
}
.cloud2 {
     margin-left: 70%;
     margin-top: 50px;
     position: relative;

}
.webdesign {
     color: rgb(9, 76, 54);
     font-size: 40px;
}
/*MOUNTAIN-*/
.mountain {
     height: 30%;
     margin-top: 0;
     width: 50%;
}
.aftmonten {
     color: rgb(61, 142, 114);
     border-style: dotted none none;
     border-width: 9px;
     width: 20%;
}


/*HELLO*/
.profile {
     text-align: center;
     margin: auto;
}
.hello {
     color: rgb(19, 81, 72);
     margin-top: 40px;
     font-size: 50px;
     font-family: 'Roboto Mono', monospace;
}
.welcome {
     font-size: 15px;
     font-family: 'Arvo', serif;
     margin-right: 20%;
}
.pfp-img {
     border-radius: 100%;
     width: 10%;
     float: left;
     margin-left: 10%;
}
.aftprofile {
     color: rgb(61, 142, 114);
     border-style: dotted none none;
     border-width: 9px;
     width: 30%;
     margin-top: 300px;
}
/*SKILL THINGS*/
.comp-img {
     width: 10%;
     float: right;
     margin-right: 10%;
}
.skill {
     color: black;
     margin-top: 100px; 
     font-family: 'Montserrat', sans-serif;
}
.css-skill {
     margin-top: 0;
     color: rgb(8, 61, 58);
     text-align: center;
     font-size: 40px;
     font-family: 'Roboto Mono', monospace;
}
.deets {
     font-size: 15px;
     font-family: 'Arvo', serif;
     margin-left: 20%;
}

.aftskill {
     color: rgb(61, 142, 114);
     border-style: dotted none none;
     border-width: 9px;
     width: 40%;
     margin-top: 300px;
}


/*LINK GIVEN THING*/
.link-me-btn {
     background-color: rgb(153, 222, 219);
     width: 200px;
     height: 35px;
}


.btn {
     background: #7bebe7;
     background-image: -webkit-linear-gradient(top, #7bebe7, #4cb5b3);
     background-image: -moz-linear-gradient(top, #7bebe7, #4cb5b3);
     background-image: -ms-linear-gradient(top, #7bebe7, #4cb5b3);
     background-image: -o-linear-gradient(top, #7bebe7, #4cb5b3);
     background-image: linear-gradient(to bottom, #7bebe7, #4cb5b3);
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     font-family: Georgia;
     color: #143d3c;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     border: solid #063d3c 2px;
     text-decoration: none;
   }
   
   .btn:hover {
     background: #b7e4e8;
     text-decoration: none;
   }


.touch-with-me {
     font-size: 30px;
}
.contactme {
     text-align: center;
     color: rgb(1, 4, 3);        
     font-size: 20px; 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thumb {
     height: 70px;
     width: 60px;
     margin-top: 10px;
}


/*LINKING THINGS*/
.links {
     background-color: rgb(62, 160, 149);
     text-align: center;
     color: rgb(1, 4, 3);        
     font-size: 40px; 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top: 100px;
}

.instabtn {
     font-family: Georgia;
     color: black;
     font-size: 15px;
     text-decoration: none;
     margin-right: 20px;
}
.instabtn:hover {
     text-decoration: none;
     color: #4cb5b3;
}
.ytbtn {
     font-family: Georgia;
     color: #000000;
     font-size: 15px;
     text-decoration: none;
     margin-left: 20px;
}  
.ytbtn:hover {
     text-decoration: none;
     color: #4cb5b3;
}
.name-c {
     font-size: 10px;
     margin-top: 100px;
}
.dotline {
     color: rgb(20, 72, 54);
     border-style: dotted none none;
     border-width: 9px;
     width: 30%;
     margin-top: 30px;
}
